---
include_paths:
  - /my/realm/projects
  - /other/realm/projects
  
projects:
  -
    type: realm
    filename: ../example/realm.xml
  -
    type: realm
    filename: ../example2/realm.xml
    unlisted: true
