{% extends "@Theme/layout.html.twig" %}

{% block content %}
<div class="row">
  <div class="col-md-3">
    {% include '@Realm/navbar-fusion.html.twig' %}
  </div>
  
  <div class="col-md-6">
    {% if section %}
      {% include '@Realm/section.html.twig' %}
    {% endif %}
  </div>
  <div class="col-md-3">
    <div style="border: 2px solid #f0f0f0; background-color: #f8f8f8; min-height: 200px; padding: 0px 10px 0px 10px">
      <h1>Fusion</h1>
      {% for resource in fusion.getResources() %}
      <h2>Resource</h2>
      {{ resource.getId() }}
      
      <h5>Source</h5>
      {% if resource.getSource() %}
      <dl>
        <dt>ID</dt><dd>{{ resource.getSource().getId() }}</dd>
        <dt>DisplayName</dt><dd>{{ resource.getSource().getDisplayName() }}</dd>
        <dt>Logo</dt><dd><img src="{{ resource.getSource().getLogoUrl() }}" style="width: 50%"/></dd>
      </dl>
      {% endif %}
      {% endfor %}



    </div>
  </div>

</div>
{% endblock %}
