{% extends "@Theme/layout.html.twig" %}

{% block content %}
<h3>Project</h3>
<dl>
  <dt>ID</dt><dd>{{ project.getId }}</dd>
</dl>

  
<h3>Properties</h3>
<ul>
{% for property in project.getProperties() %}
<li><span class="badge">{{ property.getLanguage() }}</span> <b>{{ property.getName() }}</b>: {{ property.getValue() }}</li>
{% endfor %}
</ul>

<a href="/" class="btn btn-primary">Back</a>
{% endblock %}
