{% extends "@Theme/layout.html.twig" %}

{% block content %}
<h3>Tests</h3>
<table class="table">
{% for test in project.getTests() %}
<tr>
  <td>
    <a href="/{{ project.getId() }}/tests/{{ test.getId() }}">{{ test.getId() }}</a><br />
  </td>
</tr>
{% endfor %}
</table>
{% endblock %}
