.realm-visor {
  position: absolute;
  border: 1px solid;
  background-color: #f0f0f0;
  padding: 0px 4px 0px 4px;
  margin-left: 50px;
  z-index: 100;
}

.realm-value {
  cursor: pointer;
}
.realm-value .realm-visor {
  display: none;

}
.realm-value-hover .realm-visor {
  display: block;
}
.realm-value {
  border: 2px solid #f0f0f0;
  display: block;
  padding: 0px 5px 0px 5px;
  border-radius: 5px;
}

.realm-tooltip {
  position: absolute;
  display: block;
  width: 250px;
  margin-left: 50px;
  background-color: #fffff0;
  border: 2px solid #e0e0e0;
  border-radius: 5px;
  padding: 5px;
  z-index: 100;
  font-weight: normal;
  font-size: 75%;
}

.detail {
  display: none;
}
.detail-active {
  display: block !important;
}
.nav-detail-active li {
  background-color: #f0f0f0 !important;
}

.logo {
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border: 1px solid #c0c0c0;
  border-radius: 4px;
  padding: 2px;
}
.logo-group {
  display: inline-block;
}
.logo-group .logo-app {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-top: 22px;
  margin-left: -20px;
  border-radius: 2px;
  border: 1px solid #c0c0c0;
}
.realm-tooltip-link {
  margin-left: 5px;
}

.realm-debug {
  display: none;
}

.realm-conflict {
  color: #c00000 !important;
}

.table th {
  white-space: normal !important;
}
