.buttonbox {
    margin-top: 10px;
    text-align: right;
    background-color: #f0f0f0;
    border-color: #808080;
    padding: 10px;
    border-radius: 5px;
}

.meta {
  background-color: #F1C40F;
  border-radius: 5px;
  padding: 0 5px 0 5px;
  margin-bottom: 5px;
  font-size: 75%;
}

fieldset {
  border: 2px solid #e0e0e0;
  padding: 0 20px 20px 20px !important;
  margin: 20px !important;
}

fieldset h1 {
  font-size: 120%;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  background-color: #16a085;
}
legend {
  width:inherit; /* Or auto */
  padding: 0 10px 0 10px;
  border-bottom:none;
  margin: 0px;
}

dt .fa {
  margin-left: 5px;
}

.realm-widget {
  margin-bottom: 10px;
}

.realm-widget .realm-value {
  margin-bottom: 5px;
  color: #202020;
  font-weight: bold;
}

.realm-widget label {
  font-weight: bold;
  line-height: 1;
}

.realm-debug {
  display: block !important;
  background-color: #000000;
  color: #00c000;
  font-size: 75%;
  padding: 3px;
  margin-top: 3px;
  margin-bottom: 3px;
}
